@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif,
  font-optical-sizing: auto;
}

body {
  overflow-x: hidden;
  background-color: #f7fafc;
}

::-webkit-scrollbar {
  width: 6px;
  background: #0d141c;
  border-radius: 0.375rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3b324d;
  border-radius: 0.375rem;
}

@layer utilities {
  .final-clip {
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 05% 50%, 0 0);
  }
}
